<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">

                    <h1 class="text-white" data-aos="fade-up">Ekip Çalışmasından Yana Kullanıcı Dostu Satış Paneli</h1>

                    <h4 data-aos="fade-up">Panel üyeliğinde E-posta onaylama sırasında yaşanan sorun çözülmüştür. Kayıt olarak giriş yapabilirsiniz.</h4>
                    <a href="/admin" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Paneli Ziyaret Et</a>

                    <strong class="d-block pt-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-envelope mr-2"></i>swapp@@ofcskn.com</strong>
                    <strong class="d-block pt-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-user mr-2"></i>info@@ofcskn.com</strong>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                    <div class="lazy-loader"><div class="loader"></div></div>
                    <img data-src="/assets/images/working-girl.png" class="img-fluid lazy" alt="working girl">
                </div>
            </div>

        </div>
    </div>
</section>