<section class="about section-padding pb-0" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 mx-auto col-md-10 col-12">
                <div class="about-info">

                    <h2 class="mb-3" data-aos="fade-up"> <strong>Ticari Otomasyon</strong> Kursu Projesi</h2>
                    <h4 class="mb-4" data-aos="fade-up">Eğitmen: <strong>Murat Yücedağ</strong></h4>
                    <p class="mb-3" data-aos="fade-up">
                        Asp.Net Mvc'yi temel alan <a href="https://www.udemy.com/course/mvconlineticariotomasyon/"><strong>Online Ticari Otomasyon Kursu</strong></a>'nu temel alarak uzun bir süreç
                        ve yoğun bir çaba sonucunda tamamladığım <strong>Swapp-Öfc</strong> projesini Asp.Net Core 3.1 teknolojisini kullanarak hazırladım. Panel tasarımında <a href="#">Admin LTE</a> temasına coğunlukla bağlı
                        kalarak düzeni korumayı amaçladım.
                    </p>
                    <p class="mb-3" data-aos="fade-up">
                        Ek olarak, kursu takip ederken birçok farklı yapı, kütüphane ve
                        tasarım kullanmanın yanı sıra çeşitli sorgularla projeyi daha da geliştirmeyi amaçladım. Kursta uyguladıklarımın yanı sıra <strong>Mesajlaşma Grupları</strong> , <strong>Kişisel ve Ekip İçin Yapılacak Listeleri ve Grupları</strong> ,
                        <strong>E-Posta Sistemi</strong> gibi farklı yapıları katarak projeye daha da renk katmaya çalıştım.


                    </p>

                    <p class="mb-0 font-italic" data-aos="fade-up">
                        <strong>"</strong> Bu proje bir mağazanın vitrin, admin ve kullanıcı olmak üzere 3 temel panelinden oluşuyor. Özellikle admin panelinin dashboard kısmı ile hem tasarımı güçlü bir arayüz hem de crud işlemlerinin ötesinde Entity Framework, Linq sorgular üzerinden Trigger, Procedure gibi SQL yapıları ile somut bir proje geliştirdik.
                        <strong>" - Murat Yücedağ Udemy Kursundan</strong> 
                    </p>
                </div>

                <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                    <img data-src="/img/media/swapp-ofc-projesi.webp" class="img-fluid lazy" alt="office">
                </div>
            </div>

        </div>
    </div>
</section>