<section class="testimonial section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-12">
                <div class="contact-image" data-aos="fade-up">
                    <img data-src="/assets/images/omer-faruk-coskun.jpg" class="img-fluid lazy" alt="website">
                </div>
            </div>

            <div class="col-lg-6 col-md-7 col-12">
                <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Proje Yorumu</h4>

                <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Murat Yücedağ'ın <strong>Ticari Otomasyon Kursu</strong>'ndan faydalanarak tamamladığım ve proje ismini <strong>SWAPP-OFC</strong> olarak belirlediğim eğitim projemi sizlere sunmanın mutluluğunu yaşıyorum. Bu imkanı bana verdiği için <strong>Murat Yücedağ</strong>'a ve desteklerini hiçbir zaman esirgemeyen <strong>Taylan Tüfekçi</strong>'ye çok teşekkür ederim..</h2>

                <p data-aos="fade-up" data-aos-delay="400">
                    <strong>Ömer Faruk Coşkun</strong>

                    <span class="mx-1">/</span>

                    <small>Proje Yöneticisi</small>
                </p>
            </div>

        </div>
    </div>
</section>