
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Mozilla</title>


    <style>
 .scalable-image img{max-width:100% !important;height:auto !important}.button a{transition:background-color .25s, border-color .25s}.button a:hover{background-color:#e1e1e1 !important;border-color:#0976a5 !important}@@media only screen and (max-width: 400px){.preheader{font-size:12px !important;text-align:center !important}.header--white{text-align:center}.header--white .header__logo{display:block;margin:0 auto;width:118px !important;height:auto !important}.header--left .header__logo{display:block;width:118px !important;height:auto !important}}@@media screen and (-webkit-device-pixel-ratio), screen and (-moz-device-pixel-ratio){.sub-story__image,.sub-story__content{display:block
 !important}.sub-story__image{float:left !important;width:200px}.sub-story__content{margin-top:30px !important;margin-left:200px !important}}@@media only screen and (max-width: 550px){.sub-story__inner{padding-left:30px !important}.sub-story__image,.sub-story__content{margin:0 auto !important;float:none !important;text-align:center}.sub-story .button{padding-left:0 !important}}@@media only screen and (max-width: 400px){.featured-story--top table,.featured-story--top td{text-align:left}.featured-story--top__heading td,.sub-story__heading td{font-size:18px !important}.featured-story--bottom:nth-child(2) .featured-story--bottom__inner{padding-top:10px
 !important}.featured-story--bottom__inner{padding-top:20px !important}.featured-story--bottom__heading td{font-size:28px !important;line-height:32px !important}.featured-story__copy td,.sub-story__copy td{font-size:14px !important;line-height:20px !important}.sub-story table,.sub-story td{text-align:center}.sub-story__hero img{width:100px !important;margin:0 auto}}@@media only screen and (max-width: 400px){.footer td{font-size:12px !important;line-height:16px !important}}
     @@media screen and (max-width:600px) {
    table[class="columns"] {
        margin: 0 auto !important;float:none !important;padding:10px 0 !important;
    }
    td[class="left"] {
     padding: 0px 0 !important;
    </style>

</head>

<body style="background: #e1e1e1;font-family:Arial, Helvetica, sans-serif; font-size:1em;">
    <style type="text/css">
        div.preheader
        {
            display: none !important;
        }
    </style>
    <div class="preheader" style="font-size: 1px; display: none !important;">Mute videos until you’re ready</div>
    <table id="backgroundTable" width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#e1e1e1;">
        <tr>
            <td class="body" align="center" valign="top" style="background:#e1e1e1;" width="100%">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="640">
                        </td>
                    </tr>
                    <tr>
                        <td class="main" width="640" align="center" style="padding: 0 10px;">
                            <table style="min-width: 100%; " class="stylingblock-content-wrapper" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="stylingblock-content-wrapper camarker-inner">
                                        <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="640" align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="header header--left" style="padding: 20px 10px;" align="left">
                                                                <a href="https://click.e.mozilla.org/?qs=4efe345e8852f56c113edb983fa4611aa6d70ef7c486dbc97d2c4b21e7f93896b79c356bd48feb8ed0d35b70ed9a18c98f4d7d28197a82dc"><img class="header__logo" src="https://image.e.mozilla.org/lib/fe9915707361037e75/m/3/firefox-logo-2x-sept2017.png" alt="Firefox" style="display: block; border: 0;" width="158" height="59"></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table><table style="min-width: 100%; " class="stylingblock-content-wrapper" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="stylingblock-content-wrapper camarker-inner">
                                        <table class="featured-story featured-story--top" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="padding-bottom: 20px;">
                                                    <table cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="featured-story__inner" style="background: #fff;">
                                                                <table cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="scalable-image" width="640" align="center">
                                                                            <a href="https://click.e.mozilla.org/?qs=4efe345e8852f56cc4b90d80dd14edaf4b2bc7479b6c1e0245240707f038f3dc34792ba93278bce615dcd5733330e53ae95f672299c8f77b"><img src="https://image.e.mozilla.org/lib/fe9915707361037e75/m/4/afb835a0-c1f1-4c87-b762-8ec6700acba1.jpg" alt="" style="display: block; border: 0; max-width: 100%; height: auto;" width="640"></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="featured-story__content-inner" style="padding: 32px 30px 45px;">
                                                                            <table cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="featured-story__heading featured-story--top__heading" style="background: #fff;" width="640" align="left">
                                                                                        <table cellspacing="0" cellpadding="0">
                                                                                            <tr>
                                                                                                <td style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size: 22px; color: #464646;" width="400" align="left">
                                                                                                    <a href="https://click.e.mozilla.org/?qs=4efe345e8852f56cde6916bcb807227bf64dfe9972687c7afed3251bf31f6e1a8aa807abb470382b057fd0255d31d21c24ed6f000cb22d89" style="text-decoration: none; color: #464646;">Enjoy the silence</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="featured-story__copy" style="background: #fff;" width="640" align="center">
                                                                                        <table cellspacing="0" cellpadding="0">
                                                                                            <tr>
                                                                                                <td style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size: 16px; line-height: 22px; color: #555555; padding-top: 16px;" align="left">
                                                                                                    Websites that autoplay video can be super annoying. You didn't select the video to play &mdash; it was started for you. <i>Hurumph!</i> Firefox will now stop that from happening, putting you in control. If you'd like to hear or see a video, just click on the play button to watch it.<br><br>
                                                                                                    Firefox with <a href="https://click.e.mozilla.org/?qs=4efe345e8852f56c7517be59de4016dcdf41f24ead956451508927c8af03aa98f3ec6fb0a81185eae066adc37639dfe39b66217148cce8e8" style="text-decoration: underline; color: #0c99d5; display: inline-block;">Block Autoplay</a>: the way online video should be.
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="button" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size: 16px; padding-top: 26px;" width="640" align="left">
                                                                                        <a href="https://click.e.mozilla.org/?qs=4efe345e8852f56c999be06eb9393c839773a620030ba42401ec5054f3e0502235fcd9fe9cb5ac8a277444735e0661ebaa26cab1d07aad32" style="background: #0c99d5; color: #fff; text-decoration: none; border: 14px solid #0c99d5; border-left-width: 50px; border-right-width: 50px; text-transform: uppercase; display: inline-block;">
                                                                                            Find out more
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer" width="640" align="center" style="padding-top: 10px;">
                            <table cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size: 14px; line-height: 18px; color: #738597; padding: 0 20px 40px;">
                                        <br>      <br>
                                        <strong>Thanks for reading!</strong>

                                        <br>

                                        You're receiving this email because we think you’re neat, AND you subscribed to hear from us. If our emails aren’t sparking joy, we’ll understand if you  <a href="#" style="color: #0c99d5;">unsubscribe.</a>

                                        <br>
                                        <br>
                                        You can also <a href="#" style="color: #0c99d5;">update your email preferences</a> at any time.
                                        <br>
                                        <br>



                                        <br>
                                        <a href="https://click.e.mozilla.org/?qs=4efe345e8852f56c1e3db0d340409c16b43e928cf6557ddeb8353230fc3a1dd4b197ddce4af91142ac34f082b5350cce43b620e227389813" target="_blank"><img src="https://image.e.mozilla.org/lib/fe9915707361037e75/m/3/Mozilla-Logo-2017.png" alt="Mozilla" style="display: block; border: 0;" width="100"></a>
                                        <br>
                                        <strong><a href="https://click.e.mozilla.org/?qs=4efe345e8852f56c010375c3320ac84bc38908505ee21e3951f120a885ee34542a1e7868758c263fb84e70acc0e90eceebe1c5308e4614ee" style="color: #0c99d5;" target="_blank">Donate to Mozilla</a></strong>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;
                                        <strong><a href="https://click.e.mozilla.org/?qs=9c922c5dd15d3a5f8a3be0b80e2b22ee49de06834d1862a9a40fcd1c9566ae7de532998234a5ac6a2c39d089f8239410fb9f80199389daed" style="color: #0c99d5;" target="_blank">Download Firefox</a></strong>
                                        <br><br>


                                        331 E. Evelyn Avenue Mountain View CA 94041
                                        <br>
                                        <a href="https://click.e.mozilla.org/?qs=9c922c5dd15d3a5f0fad0bf760bf619e3b6bad36954e705743d37288c9a4d472fd094ef47386782a651cae68ca3c1871addf045d07893e6e" style="color: #0c99d5;">Legal</a> • <a href="https://click.e.mozilla.org/?qs=9c922c5dd15d3a5f5ff711d93b9b4cc144cd412f8ce1316fa85e6a8f87ca5373c3055e798dd7b6237e2be3c7cbdf242dff305017ceaf00a7" style="color: #0c99d5;">Privacy</a>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Exact Target tracking code -->
    </custom>
</body>
</html>