@model RememberPassword

@{
    ViewData["Title"] = "Şifreni Değiştir";
    Layout = "_LayoutHome";
}


    <div class="card">
        <div class="card-body login-card-body">
            @if (ViewBag.enabled == 1)
            {
                <p class="login-box-msg">Giriş Yap</p>
                <form asp-controller="home" asp-action="resetpassword" method="post" class="login-form change-form">
                    <input type="hidden" name="adminResPasId" value="@ViewBag.adminResPasId" />
                    <div class="input-group mb-3">
                        <input name="password" type="password" class="form-control" placeholder="Şifrenizi Giriniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input name="passwordAgain" class="form-control" type="password" placeholder="Şifrenizi tekrar giriniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-block btn_submit">Şifremi Değiştir</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            }
            else
            {
                <div class="text-center login-form">
                    <p>Şifre sıfırlama linkinizin süresi dolmuştur. Lütfen yeni bir link gönderin. Ya da giriş yapın.</p>
                    <div class="form-group d-block">
                        <a type="submit" class="btn btn-outline-success" href="/admin/home/login">Giriş Yap</a>
                    </div>
                </div>
            }
        </div>
        <!-- /.login-card-body -->
    </div>