<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<trust level="Medium" originUrl="" />
		<!--Add this code for application security -->
		<customErrors mode="On">
			<error statusCode="404" redirect="~/Error/Bulunamadi" />
		</customErrors>
		<httpRuntime maxRequestLength="4096" />
	</system.web>
	<location path="." inheritInChildApplications="false" allowOverride="true">
		<system.web>
			<securityPolicy>
				<trustLevel name="Full" policyFile="internal" />
				<trustLevel name="High" policyFile="web_hightrust.config" />
				<trustLevel name="Medium"
							policyFile="web_mediumtrust.config" />
				<trustLevel name="Low"  policyFile="web_lowtrust.config" />
				<trustLevel name="Minimal"
							policyFile="web_minimaltrust.config" />
			</securityPolicy>
			<trust level="Medium" originUrl="" />
		</system.web>
		<system.webServer>
			<httpErrors errorMode="Detailed" />
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="C:\Users\LENOVO\source\repos\Swapp\www\bin\Release\netcoreapp3.1\www.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="8092" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="300000000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>