@model IEnumerable<Newsletter>
@{
    ViewData["Title"] = "Swapp Abone Listesi";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/home/">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Bülten Aboneliği</li>
                        <li class="breadcrumb-item active">Abone Listesi</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Abone Listesi</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th>Abone Mail</th>
                                    <th>Üyelik Tarihi</th>
                                    <th>Aktiflik</th>
                                    <th>
                                        İşlemler
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() != 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Mail</td>
                                            <td>@item.Date.ToString("d")</td>
                                            <td>
                                                @if (item.Enabled == true)
                                                {
                                                    <i class="fa fa-check-circle text-success"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-times-circle text-danger"></i>
                                                }
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-danger text-white delete" data-id="@item.Id"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="20">
                                            <p class="my-3">Henüz eklenmiş veri bulunmamaktadır.</p>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <a asp-controller="emaildesign" asp-action="index" asp-route-filter="normal" type="button" class="btn btn-success">
                Aktif Abonelere Mail Gönder
            </a>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section script{
    <script>
        $(".delete").on("click", function () {
            const itemId = $(this).data("id");

            const formData = new FormData();
            formData.append("id", itemId);

            $.ajax({
                url: "/admin/newsletter/delete",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function () {
                    swal("Silme İşlemi Başarılı");
                    setTimeout(function () { window.location.reload(); }, 1500);
                },
                error: function () {
                    swal("Silme işlemi başarılı olamadı. Tekrar Deneyiniz.");
                }
            });

        });
    </script>
}
