<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Her Zaman <strong>Bir Adım Daha</strong> İleriye</h1>
            </div>

            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                <h4 class="my-4">İletişim</h4>

                <p class="mb-1">
                    <i class="fa fa-phone mr-2 footer-icon"></i>
                    +90 555 555 5555
                </p>

                <p>
                    <a href="mailto:info@ofcskn.com">
                        <i class="fa fa-envelope mr-2 footer-icon"></i>
                        swapp@@ofcskn.com
                    </a>
                </p>
                <p class="mb-1">
                    <i class="fa fa-home mr-2 footer-icon"></i>
                    Ornek mahallesi, Ornek caddesi No:55 Ornek/Ornek
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
                <h4 class="my-4">Abone Ol</h4>
                <div class="newsletter-form">
                    <form id="sub_newsletter_form" method="post" class="contact-form aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" role="form">
                        <input type="email" class="form-control" name="Mail" placeholder="Email">
                        <button type="button" id="sub_newsletter_btn" class="form-control newsletter_submit_btn" name="submit">Abone Ol</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
                <p class="copyright-text">
                    Tüm hakları saklıdır. &copy; 2020 SWAPP-OFC | Murat Yücedağ Eğitim Projesi
                    <br>
                    <a rel="nofollow noopener" href="https://templatemo.com">Tasarım: TemplateMo</a>
                </p>
            </div>

            <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">

                <ul class="footer-link">
                    <li><a href="http://ofcskn.com">Ofcskn.com</a></li>
                    <li><a href="/admin">Panel</a></li>
                    <li><a href="https://www.udemy.com/course/mvconlineticariotomasyon/">Proje Eğitim Kursu</a></li>
                </ul>
            </div>

            <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                <ul class="social-icon">
                    <li><a href="https://www.instagram.com/_ofcskn/" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCsp9riHWKza80r2maQOQ-2A" class="fa fa-youtube-play"></a></li>
                    <li><a href="https://www.linkedin.com/in/ofcskn/" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>