<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="~/lib/file-manager/css/themes/jQueryUI_new/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
    <link href="~/lib/file-manager/css/window/css/jquery.window.css" rel="stylesheet" />
    <script src="~/lib/file-manager/js/jquery-1.9.0.min.js"></script>
    <script src="~/lib/file-manager/js/jquery-ui-1.11.2.min.js"></script>
    <script src="~/lib/file-manager/js/custom/jquery.window.min.js"></script>
    <script src="~/lib/file-manager/js/custom/FileManager/FileManager.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>

    @RenderBody()

</body>
</html>
