<div class="col-lg-5 ml-auto mt-5 pt-5 col-md-6 col-12">

    <img src="~/assets/images/newsletter.png" data-aos="fade-up" data-aos-delay="100" class="img-fluid aos-init aos-animate" alt="newsletter">
</div>
<div class="col-lg-5 mr-auto mt-5 pt-5 col-md-6 col-12 newsletter-form">
    <h4 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">Bülten Aboneliği</h4>

    <h2 data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">Ücretsiz olarak bültenime abone ol. Gelişmelerden haberdar ol!</h2>
    <div class="contact_newsletter_alert alert d-none"></div>
    <form id="contact_newsletter_form" method="post">
        <div class="form-group mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <input name="Mail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Lütfen e-posta adresinizi giriniz." >

            <small id="emailHelp" class="form-text text-muted">Tek tuşla gelişmelerden hızlıca haberdar olabilirsin.</small>

        </div>
        <button id="contact_newsletter_btn" type="button" data-aos="fade-up" data-aos-delay="500" class="btn w-100 mt-3 aos-init aos-animate">Abone Ol</button>
    </form>
</div>
