@model Project

@{
    ViewData["Title"] = "Proje Düzenle";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/home/">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Projeler</li>
                        <li class="breadcrumb-item active">Düzenle</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <!-- Default box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Projeleri Düzenle</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="manage" method="post" enctype="multipart/form-data">
                        <input class="form-control" asp-for="Id" type="hidden" />
                        <input class="form-control" asp-for="Priority" type="hidden" />
                        <input class="form-control" asp-for="Date" type="hidden" />
                        <input class="form-control" asp-for="Enabled" type="hidden" />
                        <input class="form-control" asp-for="Image" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Title">Başlık</label>
                            <input class="form-control" asp-for="Title" required />
                        </div>
                        <div class="form-group">
                            <label asp-for="SubTitle">Alt Başlık</label>
                            <input class="form-control" asp-for="SubTitle" required />
                        </div>
                        <div class="form-group">
                            <label asp-for="Link">Full Link</label>
                            <input class="form-control" asp-for="Link" required />
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Açıklama</label>
                            <textarea class="textarea" asp-for="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Logo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Yükle</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="Image" />
                                    <label class="custom-file-label" name="Image">Dosya Seçin</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group border-dark mt-2 shadow-sm">
                            @if (Model != null)
                            {
                                <img src="/img/project/@Model.Image" alt="" height="400" />
                            }
                        </div>

                        <div class="form-group mt-2">
                            <input type="submit" value="Gönder" class="btn btn-success" />
                            <a asp-action="list" class="btn btn-info">Listeye Dön</a>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
