
@{ ViewData["Title"] = "Mesajlaşma Odası"; }


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/home/">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Mesajlar</li>
                        <li class="breadcrumb-item active">Mesaj Odası</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Mesajlaşma</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body chat-app-body">
                    <div class="alert alert-warning alert-dismissible d-none" id="errorAlert" role="alert">
                        <span data-bind="text:serverInfoMessage"></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="app chat-app row">
                        <div class="sidebar col-md-3 col-12 order-md-1 order-2">
                            <div class="header">
                                <h5>Mesaj Odaları</h5>
                                <a href="#" id="create-room" data-toggle="modal" data-target="#create-room-modal">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <ul class="rooms list-unstyled" id="room-list" data-bind="foreach: chatRooms">
                                <li><a href="#" data-bind="text: $data.name, attr: { 'data-roomId': $data.id }, click: $parent.joinRoom.bind($data), css: { active: $root.joinedRoom() == $data.name()}"></a></li>
                            </ul>
                            <div class="profile">
                                <div>
                                    <img src="~/lib/signalr-chat-app/images/icons/avatar1.png" class="user-avatar" data-bind="attr: { src: '/admin/img/' + myAvatarSrc() + '/' + myAvatar() }" />
                                    <a data-bind="text: myName"></a>
                                </div>
                                <form class="form-inline" method="post">
                                    <button type="submit" class="btn-sign-out"><i class="fas fa-sign-out-alt"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="main-content col-md-6 col-12 order-md-2 order-1" data-bind="visible: joinedRoom().length == 0">
                            <span class="m-auto">
                                Lütfen bir gruba katıl.
                            </span>
                        </div>
                        <div class="main-content col-md-6 col-12 order-md-2 order-1" data-bind="visible: joinedRoom().length > 0">
                            <div class="header">
                                <h5 id="joinedRoom" data-bind="text: joinedRoom()">Bekleme Odası</h5>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#remove-room-modal">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="chat-body">
                                <ul class="list-unstyled" data-bind="foreach: chatMessages">
                                    <li>
                                        <div class="chat-message d-flex" data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                                            <div class="left-side">
                                                <img src="~/lib/signalr-chat-app/images/icons/avatar1.png" class="message-avatar" data-bind="attr: { src: '/admin/img/' +  $data.avatarSrc() + '/' + $data.avatar() }" />
                                            </div>
                                            <div class="message-content d-flex flex-column">
                                                <div class="d-flex justify-content-between">
                                                    <span class="author" data-bind="text:$data.from"></span>
                                                    <span class="timestamp">
                                                        <i class="far fa-clock"></i>
                                                        <span data-bind="text:$data.timestamp"></span>
                                                    </span>
                                                </div>
                                                <span class="content" data-bind="html:$data.content"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat-input">
                                <input id="chat-message" type="text" value="" data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }" placeholder="Aklından ne geçiyor?" />
                                <div class="actions d-flex align-items-center">
                                    <form method="post" asp-action="Upload" asp-controller="Upload" enctype="multipart/form-data" id="uploadForm">
                                        <label for="UploadedFile" class="custom-file-upload">
                                            <i class="far fa-image"></i>
                                        </label>
                                        <input type="hidden" name="RoomId" data-bind="value: joinedRoomId()" />
                                        <input type="file" id="UploadedFile" name="File" accept=".jpg,.jpeg,.png" data-bind="event: {change: uploadFiles}">
                                    </form>
                                    <a id="emojibtn" href="#">
                                        <i class="far fa-smile"></i>
                                    </a>
                                    <i class="fas fa-paper-plane" id="btn-send-message" data-bind="click: sendNewMessage"></i>
                                </div>
                                <div class="emoticon-container d-none" id="emojis-container">
                                    <a href="#">
                                        <input type="hidden" value=":)" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji1.png" />
                                    </a>
                                    <a href="#">
                                        <input type="hidden" value=":P" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji2.png" />
                                    </a>
                                    <a href="#">
                                        <input type="hidden" value=":O" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji3.png" />
                                    </a>
                                    <a href="#">
                                        <input type="hidden" value=":-)" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji4.png" />
                                    </a>
                                    <a href="#">
                                        <input type="hidden" value="B|" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji5.png" />
                                    </a>
                                    <a href="#">
                                        <input type="hidden" value=":D" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji6.png" />
                                    </a>
                                    <a href="#">
                                        <input type="hidden" value="<3" />
                                        <img src="~/lib/signalr-chat-app/images/emojis/emoji7.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="users-container col-md-3 col-12 order-md-3 order-3">
                            <div class="header">
                                <h5>Çevrimiçi Kullanıcılar (<span data-bind="text: filteredChatUsers().length">0</span>)</h5>
                            </div>
                            <ul id="users-list" class="list-unstyled" data-bind="foreach: filteredChatUsers">
                                <li>
                                    <div class="user">
                                        <img src="~/lib/signalr-chat-app/images/icons/avatar1.png" class="user-avatar" data-bind="attr: { src: '/admin/img/'+ $data.avatarSrc() + '/' + $data.avatar() }" />
                                        <div class="right-side">
                                            <input type="hidden" class="username" data-bind="value: $data.userName" />
                                            <span class="author" data-bind="text: $data.displayName"></span>
                                            <small data-bind="text: $data.device"></small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <input type="text" class="" placeholder="Birilerini ara." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>

                    <div class="modal" id="create-room-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Oda oluştur</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" id="roomName" placeholder="Grup adı">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: createRoom">Oluştur</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal" id="remove-room-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Oda Sil</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bu grubu kalıcı olarak silmek istediğine emin misin?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-bind="click: deleteRoom">Sil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section style{
    <link href="~/lib/signalr-chat-app/css/site.css" rel="stylesheet" />
    <style>
        .chat-app .sidebar
        {
            height: 100% !important;
        }

        .chat-app .main-content
        {
            height: 100%;
        }

        @@media only screen and (max-width: 762px)
        {
            .card-body.chat-app-body
            {
                padding: 0;
            }

            .chat-app .main-content
            {
                height: 80vh;
            }

            .layout-fixed .wrapper .sidebar
            {
                height: 200px !important;
                overflow: scroll;
            }

            .chat-app
            {
                margin: 0;
                height: auto;
            }
        }
    </style>

}
@section script{
    <!--Lib Js-->
    <script src="~/lib/knockout/knockout-latest.min.js"></script>
    <script src="~/lib/signalr-chat-app/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/signalr-chat-app/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr-chat-app/js/chat.js" asp-append-version="true"></script>

}